[Desktop Entry]
Version=1.0
Type=Application
Exec=snap run code-insiders
Icon=/home/filip/Downloads/code-insiders.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Development Environment
Comment=Launch development environment
Keywords=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=
