
# Exclude some dotfiles that are not relevant for the setup

dconf/
Atom/
gtk-3.0/
procps/
volumeicon/
discord/
pulse/
.vim/plugged/*
ranger/plugins/*


# Exclude some scripts that are not relevant for the system

scripts/job.sh
