Mousepad
Code\ -\ Insiders
Thunar
htop
ibus
libreoffice
mimeapps.list
pulse
zoom*
xfce4/
GIMP/
Unknown\ Organization/
atril/
cat_installer/
fish/
flameshot/
google-chrome/
gtk-2.0/
inkscape/
qBittorrent/
ristretto/
unity3d/
view3dscene/
xarchiver/
