
# Exclude some dotfiles that are not relevant for the setup

rncbc.org/
dconf/
vlc/
teams-for-linux/
teams/
qalculate/
Microsoft/
Atom/
gtk-3.0/
gtk-2.0/
GIMP/
procps/
volumeicon/
discord/
pulse/
MuseScore/
autostart/
mimeapps.list
QtProject.conf
.vim/plugged/*
ranger/plugins/*
zoomus.conf
pavucontrol.ini
Microsoft\ Teams\ -\ Preview/
cef_user_data/
google-chrome/

# Exclude some scripts that are not relevant for the system

scripts/job.sh
