[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/filip/Desktop/Xilinx]
row=4
col=0

[/home/filip/Desktop/Offline]
row=3
col=0

[/home/filip/Desktop/CDAS]
row=7
col=0

[/home/filip/Desktop/StationSoftware]
row=5
col=0

[/home/filip/Desktop/gitlab_token.txt]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/filip]
row=2
col=0

